<p>
  user works!
</p>
<dx-data-grid style="width: 1000px; margin-left: -300px;"
  id="reports"
  [dataSource]="users"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [hoverStateEnabled]="true"
  [allowColumnReordering]="true"
  [columnResizingMode]="'nextColumn'"
  [columnMinWidth]="50"
  [wordWrapEnabled]="false">
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxi-column dataField="userName" caption="Username"></dxi-column>
  <dxi-column dataField="firstName" caption="First name"></dxi-column>
  <dxi-column dataField="lastName" caption="Last name"></dxi-column>
  <dxi-column dataField="speciality" caption="Speciality"></dxi-column>
  <dxi-column dataField="birthDate" caption="Birth Date" dataType="date" format='dd/MM/yyyy HH:mm:ss'></dxi-column>
  <dxi-column dataField="gender" caption="Gender"></dxi-column>
  <dxi-column dataField="status" caption="Status"></dxi-column>
</dx-data-grid>
